/* 
Color Theme Swatches in Hex
.UI/UX-1-hex { color: #111D40; }
.UI/UX-2-hex { color: #0B1726; }
.UI/UX-3-hex { color: #038C8C; }
.UI/UX-4-hex { color: #13F2F2; }
.UI/UX-5-hex { color: #F2F2F2; }

Color Theme Swatches in RGBA
.UI/UX-1-rgba { color: rgba(17, 28, 63, 1); }
.UI/UX-2-rgba { color: rgba(10, 22, 38, 1); }
.UI/UX-3-rgba { color: rgba(2, 140, 140, 1); }
.UI/UX-4-rgba { color: rgba(19, 242, 242, 1); }
.UI/UX-5-rgba { color: rgba(242, 242, 242, 1); }
*/

.App {
  text-align: center;
  background-color: #111D40;
  color: white;
  height: 100vh;
  width: 100vw;
}
h1{
  margin: 0;
}